@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    margin-bottom: 200px;
}

footer {
    margin-bottom: 0;
}

#navResponsive {
    display: none;
    justify-items: center;
}

#navResponsive div{
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    img[alt="Logo"]{
        display: none;
    }

    #navNormal {
        display: none;
    }

    #navResponsive {
        display: block;
    }
}